.hero-unit
  %p
    %h2 Credits
    %p.lead
      Conceived by Kelley McGrath
      %br
      Developed by Chris Fitzpatrick
      %br
      %br

      The OLAC Movie & Video Credit Annotation Experiment is part of a larger exploration of the
      possibilities of leveraging the Functional Requirements for Bibliographic Records (FRBR) model
      and faceted search to improve access to moving image materials held by libraries and archives.
      Many people have contributed to previous work, including the reports of an
      = link_to "OLAC Cataloging Policy Committee task force", 'http://www.olacinc.org/drupal/?q=node/27', { :class => "page-link", :target => "_blank"}
      and
      = link_to "a prototype end user interface", "https://blazing-sunset-24.heroku.com", { :class => "page-link", :target => "_blank"}
      \.
      %br
      %br
      Funded by a Richard and Mary Corrigan Solari Library Fellowship Incentive Award from the
      University of Oregon Libraries