.hero-unit
  %p
    %h2
      Make it easier to find movies in libraries.
      Help us connect people's names with their roles or functions.
      Annotate credits from library data so we can train a computer to do this on a large scale.
      Pick a category and get started…
    .btn-group.span4.offset4
      .btn.btn-large.btn-info.dropdown-toggle{ :data => { :toggle => "dropdown" }, :href => "#" } 
        Select A Category
        %span.caret
      %ul.dropdown-menu#home-select
        %li 
          %a{:href => 'nlps/random/english' } English
        %li
          %a{:href => 'nlps/random/other_unspecified' } Unspecified language (mostly English)
        %li
          %a{:href => 'nlps/random/music_dance'} Music & dance
        %li
          %a{:href => 'nlps/random/chinese' } Chinese
        %li
          %a{:href => 'nlps/random/french' } French
        %li
          %a{:href => 'nlps/random/german' } German
        %li
          %a{:href => 'nlps/random/italian' } Italian
        %li
          %a{:href => 'nlps/random/japanese' } Japanese
        %li
          %a{:href => 'nlps/random/korean' } Korean
        %li
          %a{:href => 'nlps/random/polish' } Polish
        %li
          %a{:href => 'nlps/random/russian' } Russian
        %li
          %a{:href => 'nlps/random/spanish' } Spanish
        %li
          %a{:href => 'nlps/random/arabic' } Arabic
        %li
          %a{:href => 'nlps/random/armenian' } Armenian
        %li
          %a{:href => 'nlps/random/estonian' } Estonian and Finish
        %li
          %a{:href => 'nlps/random/iranian' } Farsi, Kurdish, Pashto, Tajik
        %li
          %a{:href => 'nlps/random/georgian' } Georgian
        %li
          %a{:href => 'nlps/random/germanic' } Germanic (Danish, Dutch, Icelandic, Norwegian, Swedish )
        %li
          %a{:href => 'nlps/random/hebrew' } Hebrew
        %li
          %a{:href => 'nlps/random/hungarian' } Hungarian
        %li
          %a{:href => 'nlps/random/indo-aryan' } Indo-Aryan (Urdu, Hindi, Sindhi, etc.)
        %li
          %a{:href => 'nlps/random/baltic' } Latvian and Lithuanian
        %li
          %a{:href => 'nlps/random/indonesian' } Malayo-Polynesian (Indonesian, Malay, Tagalog, etc.)
        %li
          %a{:href => 'nlps/random/portuguese' } Portuguese
        %li
          %a{:href => 'nlps/random/romanian' } Romanian
        %li
          %a{:href => 'nlps/random/slavic' } Slavic (other than Russian and Polish)
        %li
          %a{:href => 'nlps/random/thai' } Thai and Lao
        %li
          %a{:href => 'nlps/random/turkish' } Turkish, Kazak, Uighur, Uzbek
        %li
          %a{:href => 'nlps/random/vietnamese' } Vietnamese
        %li
          %a{:href => 'nlps/random/other_lang' } Other languages
