.hero-unit
  %p
    %h2
      Make it easier to find movies in libraries.
      Help us connect people's names with their roles or functions.
      Annotate credits from library data so we can train a computer to do this on a large scale.
      Pick a category and get started…
  %p
    %a{:href => "nlps/random/english", :class => 'btn btn-primary btn-large'} English
    %a{:href => "nlps/random/spanish", :class => 'btn btn-success btn-large'} Spanish
    %a{:href => "nlps/random/german",  :class => 'btn btn-danger btn-large'} German