.modal.hide.fade{ :id => 'contactModal', :tabindex=> "-1", :role => "dialog", "aria-labelledby" => "contactModalLabel", "aria-labelledby" => "true"}
  .modal-header
    %button.close{:type => "button", :data => { :dismiss => "modal"}, "aria-hidden" => "true"} x
    %h3#contactModalLabel Contact Us
  .modal-body
    %p= "Please contact  #{mail_to('kelleym@uoregon.edu', "kelleym@uoregon.edu",  {:class => "page-link"}  ).html_safe } for more information.".html_safe
